h1{
    background-color: teal;
}
.row {
    background-color: rgb(0, 128, 128);
}

.Lyrics {
    border: black 3px solid;
    
    background-color: black;

}

.Video {
    /* border: black 3px solid; */

    background-color: black;
    


}
.video-info {
    display: flex;
    /* border: 1px solid black; */
    /* width: 400px; */
    height: 200px;
    overflow: auto;
}
.nav-wrapper {
    background-color: teal;
}
nav ul li a{
    font-size: large;  
    font: black;
}
nav ul li a:hover{
    font-size:x-large;
    text-decoration: underline black 3px;
    font: black;
}

html {
    background-color: black;
}


nav ul li a:hover{
    text-decoration: underline black 3px;
}

