#display-playlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.playlist-container {
    border: 1px solid black;
    width: 400px;
    margin: 3px

}
.video-info {
    display: flex;
    /* border: 1px solid black; */
    width: 400px;
    height: 200px;
    overflow: auto;
}

.Lyrics {
    border: black 3px solid;
    
    background-color: black;

}
.search{ 
    border: red 3px solid;

}
.Video {
    border: black 3px solid;
   
    background-color: black;

}
.nav-wrapper {
    background-color: teal;
}